<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
</head>
<body>
    <!-- TEST INDEX HTML -->
    {{ message }}
    <img src="/divo.png" width="55px">
    <a href="/users">users</a>
</body>
</html>